* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color:rgb(175, 219, 196)
}


nav {
    width: 100vw;
    text-align:center;
    position: fixed;
    background-color: white;
}

nav li {
    display: inline-block;
    padding: 0 3%;
}

nav a{
    color:rgb(175, 219, 196);
    text-decoration: none;
    font-size: 4vh;
    font-weight: 100;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: underline;
}

.circle {
    width: 20vh;
    height: 20vh;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    position:relative;
    top: 12vh;
    right: 0.5%
}

.middle {
    text-align: center;
    height: 35vh;
}

span p {
    background-color:transparent;
    font-size: 15vh;
    color: rgb(175, 219, 196);
    text-align:center;
    position: relative;
    width: 100%;
    display: block;
    margin: 4% 0 0% 0%;
}

h1.business-name {
    color:white;
    text-align: center;
    font-size: 20vh;
    position: relative;
}

.business-desc {
    text-align: center;
    color: white;
    letter-spacing: 3px;
}

.scroll {
    text-align: center;
    position: relative;
    top: 9vh;
    color:white;
    font-weight: 400;
}

#mouse-1 {
    background-color: white;
    height:6vh;
    width:2vw;
    display: block;
    position: relative;
    left: 49vw;
    top: 12vh;
    border-radius: 20px 20px;
}

#mouse-2 {
    background-color: rgb(175, 219, 196);
    height:2vh;
    width:0.8vw;
    display: block;
    position: relative;
    left: 49.6vw;
    top: 7vh;
    border-radius: 20px 20px;
}

#arrow-1 {
    background-color:white;
    height: 4vh;
    width: 1vh;
    display: block;
    position: relative;
    left: 50.3vw;
    top: 10vh;
    transform: rotate(45deg);
}

#arrow-2 {
    background-color:white;
    height: 4vh;
    width: 1vh;
    display: block;
    position: relative;
    left: 49.1vw;
    top: 6vh;
    transform: rotate(135deg)
}