* {
    padding: 0;
    margin: 0;
    background-color:rgb(175, 219, 196)
}

body {
    font-family: 'Roboto', sans-serif;
}


nav {
    width: 100vw;
    text-align:center;
    position: fixed;
}

nav li {
    display: inline-block;
    padding: 0 3%;
}

nav a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-size: 4vh;
    font-weight: 100;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: underline;
}

.circle {
    width: 30vh;
    height: 30vh;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    position:relative;
    top: 20vh;
    right: 0.5%
}

.middle {
    text-align: center;
    height: 50vh;
}

span p {
    background-color:transparent;
    font-size: 15vh;
    color: rgb(175, 219, 196);
    text-align:center;
    position: absolute;
    width: 100%;
    display: block;
    margin: 15% 0 0% 0%;
}

h1.business-name {
    color:white;
    text-align: center;
    font-size: 20vh;
    position: relative;
}